* {
  font-family: "Inter";
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

.container {
  width: 82.22%;
  margin: auto;
  padding-left: 7px;
}
